<!--Eco Template Banner-->
<div class="eco_banner eco_inner_page_banner">
  <!--Eco Template Banner img-->
  <div class="eco_headings">
    <h3>{{'BOOKING_ORDER.HEADER' | translate}}</h3>
  </div>
</div>
<!--Eco Template Banner ends-->

<!--Eco Template content-->
<div class="content">
  <section>
    <!--Eco detail starts-->
    <div class="eco_blog_detail">
      <!--Eco container-->
      <div class="container">
        <!--Eco row-->
        <div class="row">
          <!--Eco column-->
          <div class="col-md-2"></div>
          <div class="col-md-9 col-sm-12 responsive-991-width booking_list">
            <h1>EVENTS CHOSEN:</h1><br/>{{chosenEvents | json}}
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </section>
</div>