<!--Eco Template Banner-->
<div class="eco_banner eco_inner_page_banner">
  <!--Eco Template Banner img-->
  <div class="eco_headings">
    <h3>
      {{'SIGNUP.HEADER' | translate}}
    </h3>
  </div>
  <ul class="eco_page_link">
    <li class="active">
      <a href="#" [routerLink]="['/login']">{{'LOGIN.LOGIN' | translate}}</a>
    </li>
    <li>
      <a href="#">{{'LOGIN.REGISTRATION' | translate}}</a>
    </li>
  </ul>
</div>
<!--Eco Template Banner ends-->

<!--Eco Template content-->
<!-- <div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="kode_login_social-account white-login-form">
          <form>
            <div class="eco-login-registration">
              <div class="eco_title_form">
                <h3>
                  <b>{{'SIGNUP.H2_P1' | translate}}</b> {{'SIGNUP.H2_P2' | translate}}</h3>
                <p>{{'SIGNUP.DESCRIPTION' | translate}}</p>
              </div>
              <div class="kode-email-account">
                <label>
                  <input type="text" placeholder="{{'SIGNUP.FIRST_NAME' | translate}}">
                </label>
                <label>
                  <input type="text" placeholder="{{'SIGNUP.LAST_NAME' | translate}}">
                </label>
                <label>
                  <input type="text" placeholder="{{'SIGNUP.EMAIL' | translate}}">
                </label>
                <label>
                  <input type="text" placeholder="{{'SIGNUP.BIRTH_DATE' | translate}}">
                </label>
                <label>
                  <input type="text" placeholder="{{'SIGNUP.PHONE' | translate}}">
                </label>
                <label>
                  <input type="password" placeholder="{{'SIGNUP.PASSWORD' | translate}}">
                </label>
                <label>
                  <input type="password" placeholder="{{'SIGNUP.RE_PASSWORD' | translate}}">
                </label>
              </div>
              <div class="kode_checkbox_style login_registor-style">
                <label>
                  <input type="checkbox">
                  <span></span>
                  <small>{{'SIGNUP.REMEMBER' | translate}}</small>
                </label>
              </div>
              <button class="btn-mediem login_style" type="submit">{{'SIGNUP.SIGNUP_NOW' | translate}}</button>
              <div class="login-user">
                <p>{{'SIGNUP.ALREADY_MEMBER' | translate}}
                  <a href="#" [routerLink]="['/login']">{{'LOGIN.LOGIN_NOW' | translate}}</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div> -->