<!--Eco footer starts-->
<footer>
    <!--Eco footer content-->
    <div class="eco_footer_content">
      <!--Eco footer container-->
      <div class="container">
        <!--Eco footer content-->
        <div class="eco_footer_columns">
          <div class="row">
            <!--Eco footer content column-->
            <div class="col-md-3 col-sm-6 responsive-devider-50">
              <div class="eco_offices_info">
                <h5 class="eco_sm_titles">About Eco frinedly</h5>
                <p>Nam et arcu venenatis, vulputate ipsum vel, porttitor metus...</p>
                <!--Eco footer admin column-->
                <ul class="eco_admin_info">
                  <li><i class="fa fa-paper-plane" aria-hidden="true"></i><p>156 Gramo Town North Street</p></li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i><p>0800 - 3277 - 2808</p></li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i><p>eco@domain.com</p></li>
                </ul>
                <!--Eco footer social icons-->
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!--Eco footer social end-->
            
            <!--Eco recent blog post column-->
            <div class="col-md-3 col-sm-6 responsive-devider-50">
              <div class="eco_recent_blog_post">
                <h5 class="eco_sm_titles">recent blogs</h5>
                <!--Eco recent blog post column posts-->
                <ul class="eco_widget_post">
                  <!--Eco recent blog posts-->
                  <li>
                    <div class="eco_recent_posts">
                      <figure>
                        <div class="eco_thumb eco_hover_effect">
                          <img src="extra-images/blog_post_img_01.jpg" alt="">
                        </div>
                        <div class="eco_post-content">
                          <small>Dec 14 2016</small>
                          <p><a href="#">Cras efficitur orciac turpis</a></p>
                        </div>	
                      </figure>
                    </div>
                  </li>
                  <!--Eco recent blog posts-->
                  <li>
                    <div class="eco_recent_posts">
                      <figure>
                        <div class="eco_thumb eco_hover_effect">
                          <img src="extra-images/blog_post_img_02.jpg" alt="">
                        </div>
                        <div class="eco_post-content">
                          <small>Dec 14 2016</small>
                          <p><a href="#">Cras efficitur orciac turpis</a></p>
                        </div>
                      </figure>	
                    </div>
                  </li>
                  <!--Eco recent blog posts-->
                  <li>
                    <div class="eco_recent_posts">
                      <figure>
                        <div class="eco_thumb eco_hover_effect">
                          <img src="extra-images/blog_post_img_03.jpg" alt="">
                        </div>
                        <div class="eco_post-content">
                          <small>Dec 14 2016</small>
                          <p><a href="#">Cras efficitur orciac turpis</a></p>
                        </div>
                      </figure>	
                    </div>
                  </li>
                </ul>
                <!--Eco recent blog posts ends-->
              </div>
            </div>
            <!--Eco recent blog ends-->
            <div class="clear"></div>
            <!--Eco our feature starts-->
            <div class="col-md-3 col-sm-6 responsive-devider-50">
              <div class="eco_our_features">
                <h5 class="eco_sm_titles">recent blogs</h5>
                <ul class="eco_feature_campaigns">
                  <li><a href="#">Recycling</a></li>
                  <li><a href="#">Planting</a></li>
                  <li><a href="#">Social Ecology</a></li>
                  <li><a href="#">Solar Panels</a></li>
                  <li><a href="#">Water Fefining</a></li>
                  <li><a href="#">Forest</a></li>
                </ul>
              </div>
            </div>
            <!--Eco our feature ends-->

            <!--Eco gallery widget-->
            <div class="col-md-3 col-sm-6 responsive-devider-50">
              <div class="eco_widget_gallery">
                <h5 class="eco_sm_titles">flickr images</h5>
                <div class="eco_small_gallery_widget">
                  <ul>
                    <li><figure><div class="eco_thumb eco_hover_effect"><img src="extra-images/small_gallery_img_01.jpg" alt=""><div class="eco_hover_btn"><a href="#"></a></div></div></figure></li>
                    <li><figure><div class="eco_thumb eco_hover_effect"><img src="extra-images/small_gallery_img_02.jpg" alt=""><div class="eco_hover_btn"><a href="#"></a></div></div></figure></li>
                    <li><figure><div class="eco_thumb eco_hover_effect"><img src="extra-images/small_gallery_img_03.jpg" alt=""><div class="eco_hover_btn"><a href="#"></a></div></div></figure></li>
                    <li><figure><div class="eco_thumb eco_hover_effect"><img src="extra-images/small_gallery_img_04.jpg" alt=""><div class="eco_hover_btn"><a href="#"></a></div></div></figure></li>
                    <li><figure><div class="eco_thumb eco_hover_effect"><img src="extra-images/small_gallery_img_05.jpg" alt=""><div class="eco_hover_btn"><a href="#"></a></div></div></figure></li>
                    <li><figure><div class="eco_thumb eco_hover_effect"><img src="extra-images/small_gallery_img_06.jpg" alt=""><div class="eco_hover_btn"><a href="#"></a></div></div></figure></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--Eco gallery widget ends-->
          </div>
        </div>
        <!--Eco template info-->
        <div class="eco_template_information">
          <p>© Copyrights 2016 All rights reserved by: kodeforest</p>
        </div>
        <!--Eco template info close div-->
      </div>
    </div>
  </footer>