<!--Eco Template Banner-->
<div class="eco_banner eco_inner_page_banner">
  <!--Eco Template Banner img-->
  <div class="eco_headings">
    <h3>
      {{'LOGIN.HEADER' | translate}}
    </h3>
  </div>
  <ul class="eco_page_link">
    <li>
      <a href="#">{{'LOGIN.LOGIN' | translate}}</a>
    </li>
    <li class="active">
      <a href="#" [routerLink]="['/signup']">{{'LOGIN.REGISTRATION' | translate}}</a>
    </li>
  </ul>
</div>
<!--Eco Template Banner ends-->

<!--Eco Template content-->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="kode_login_social-account white-login-form">
          <app-login-inner (responseSuccess)="loggedIn($event)"></app-login-inner>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>